{% load static %}
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <p class="mb-4"><img src="{% static 'images/Launchit_Logo.png' %}" width="55" height="55" alt="Image" class="img-fluid"></p>
                <p>Стартуй у світ IT разом з LaunchIT Academy!</p>
                <p><a href="/courses/studentsform">Подати заявку на навчання</a></p>
            </div>
            <div class="col-lg-2">
                <h3 class="footer-heading"><span>Вхід на сайт</span></h3>
                <ul class="list-unstyled">
                    <li><a href="/account/registration">Реєстрація</a></li>
                    <li><a href="/account/entry">Авторизація</a></li>
                </ul>
            </div>
            <div class="col-lg-2">
                <h3 class="footer-heading"><span>Наш сайт</span></h3>
                <ul class="list-unstyled">
                    <li><a href="/">Головна</a></li>
                    <li><a href="/home/about">Про Нас</a></li>
                    <li><a href="/teachers/index">Наші викладачі</a></li>
                    <li><a href="/courses/index">Курси</a></li>
                    <li><a href="/home/news">Новини</a></li>
                    <li><a href="/home/contacts">Контакти</a></li>
                </ul>
            </div>
            <div class="col-lg-4"><img src="{% static 'images/ukraine2.jpg' %}" alt="Image" class="img-fluid"></div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="copyright">
                    <p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" >LaunchIT</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                </div>
            </div>
        </div>
    </div>
</div>