{% extends 'layouts/base.html' %}

{% block content %}
{% load static %}
        <div class="hero-slide owl-carousel site-blocks-cover">
             <div class="intro-section"  style="background-image: url({% static 'images/hero_1.jpg' %});">
                  <div class="container">
                      <div class="row align-items-center">
                          <div class="col-lg-12 mx-auto text-center" data-aos="fade-up">
                              <h1>LaunchIT Academy</h1>
                              <h2 class="mb-0" style="color: darkcyan">{{ page_title }}</h2>
                          </div>
                      </div>
                  </div>
             </div>
        </div>
        <div id="breadcrumb" class="custom-breadcrumns border-bottom">
            <div class="container">
                <a href="#">Головна</a>
                <span class="mx-3 icon-keyboard_arrow_right"></span>
                <span class="current"></span>
            </div>
        </div>
        <div class=section">
            <div class="container">
                <div>
                    <div class="site-section">
                        <div class="container">
                            <div class="row mb-5 justify-content-center text-center">
                                <div class="col-lg-4 mb-5">
                                    <h2 class="section-title-underline mb-5">
                                       <span>Чому саме LaunchIT?</span>
                                    </h2>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">

                                    <div class="feature-1 border">
                                        <div class="icon-wrapper bg-primary">
                                            <span class="flaticon-mortarboard text-white"></span>
                                        </div>
                                        <div class="feature-1-content">
                                            <h2>Якісна IT освіта</h2>
                                            <p>Наші випускники користуються попитом у IT компаніях не тільки України, а також Европи, Америки і Канади.</p>
                                            <p><a href="#" class="bottom btn btn-primary px-4 rounded-0">Більше</a></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                                    <div class="feature-1 border">
                                       <div class="icon-wrapper bg-primary">
                                          <span class="flaticon-school-material text-white"></span>
                                       </div>
                                       <div class="feature-1-content">
                                          <h2>Практична система навчання</h2>
                                          <p>Навчання побудоване на постійних практичних завданнях без нудних лекцій. Система 80\20 в результативній дії.</p>
                                          <p><a href="#" class="bottom btn btn-primary px-4 rounded-0">Більше</a></p>
                                       </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                                    <div class="feature-1 border">
                                        <div class="icon-wrapper bg-primary">
                                            <span class="flaticon-library text-white"></span>
                                        </div>
                                        <div class="feature-1-content">
                                            <h2>Все для студентів</h2>
                                            <p>Особистий кабінет з вмістом учбового матеріалу нового покоління та комффортної комунікації з викладачем та менторами.</p>
                                            <p><a href="#" class="btn btn-primary px-4 rounded-0">Більше</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom-block"></div>

        <div class="popup-bg">
            <div class="popup">
                <img class="close-popup" src="{% static 'images/close.png' %}" alt="icon">
                <p>Текст</p>
            </div>
        </div>
        <div class="section-bg style-1" style="background-image: url({% static 'images/about_1.jpg' %});">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <h2 class="section-title-underline style-2">
                            <span>Чи по силам мені в IT?</span>
                        </h2>
                        <br>
                        <img src="{% static 'images/question1.jpg' %}" style="" alt="Image" class="img-fluid">
                    </div>
                    <div class="col-lg-8">
                        <p class="lead">Багато людей стикалися з проблемою вибору професії. На перший погляд, кількість спеціальностей нереально перелічити.</p>
                        <p class="lead">А якщо ви зважитеся це зробити, то зрозумієте, що їх кількість тільки зростає з кожним днем. В результаті, багато хто орієнтується на «класичні» професії, які або не підходять, або не задовольняють їх прагнення.</p>
                        <p class="lead">У таких ситуаціях залишається лише два варіанти:</p>
                        <p class="lead" style="color: red">
                            <a>1. терпіти далі та ходити на нецікаву роботу;</a>
                        </p>
                        <p class="lead" style="color: green">
                            <a>2. шукати нові можливості для зростання та розвитку;</a>
                        </p>
                        <p class="lead">Щоб дати відповідь на ці питання, необхідно перестати вважати ІТ-сферу якимось закритим суспільством. В ІТ немає входу за кодовим словом. На ділі все набагато простіше. Навіть людина з мінімальними знаннями в цій сфері, може вивчитися на розробника.</p>
                        <p><a href="#">Читати більше</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="site-section">
            <div class="container">
                <div class="row mb-5">
                    <div class="col-lg-6 mb-lg-0 mb-4">
                        <img src="{% static 'images/study1.jpg' %}"  style="box-shadow: 1em 0 .4em grey;" alt="Image" class="img-fluid">
                    </div>
                    <div class="col-lg-5 ml-auto align-self-center">
                        <h2 class="section-title-underline mb-5">
                            <span>Вимоги до студентів</span>
                        </h2>
                        <p><b>Що потрібно для того щоб комфортно і успішно навчатися в нашій академії?</b></p>
                        <p><b>Все не так складно як здається на перший погляд! Якщо в тебе є:</b></p>

                        <ol class="ul-check primary list-unstyled">
                            <li>Найголовніше це Бажання</li>
                            <li>3 - 4 вільних години на день</li>
                            <li>Ноутбук або ПК з можливістю виходу до інтернет</li>
                            <p>Тоді ми з тобою!</p>
                        </ol>

                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6 order-1 order-lg-2 mb-4 mb-lg-0">
                        <br>
                        <img src="{% static 'images/clock1.jpg' %}" style="box-shadow: -1em 0 .4em grey;" alt="Image" class="img-fluid">
                    </div>
                    <div class="col-lg-5 mr-auto align-self-center order-2 order-lg-1">
                        <h2 class="section-title-underline mb-5">
                            <span>Можливості</span>
                        </h2>
                        <p><b>Як же бути якщо у мене немає ноутбуку або ПК?</b></p>
                        <p><b>Я не можу кожного дня навчатися бо маю працювати на своїй роботі, або вчуся в Універі?!</b></p>
                        <ol class="ul-check primary list-unstyled">
                            <li></li>
                            <li>Всього 4 пари на тиждень(кожна пара по 1,5 години)</li>
                            <li>Можливість навчатись в академії з студентського ПК</li>
                            <li>Академія знаходиться поряд з метро</li>
                            <li>Можливість передивлятися записи відео-уроків в особистому кабінеті.</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-5 justify-content-center text-center">
            <div class="col-lg-4 mb-5">
                <h1 class="section-title-underline mb-5" style="text-align: center">
                    <span>Нумо стартувати!</span>
                </h1>
                <h2>
                    <span class="section-title-underline mb-5" style="text-align: center"> Переходь <a href="/courses/index">за цим посиланням</a>, та знайомся з нашими курсами!</span>
                </h2>
            </div>
        </div>
        <style>
            .popup-bg {
            position: fixed;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: rgba(0,0,0,1);
            display: none;
            }
            .popup {
                position: absolute;
                top: 50%;
                left: 50%;
                width: 600px;
                background: white;
                padding: 20px;
                transform: translate(-50%, -50%);
                padding-top: 60px;
            }
            .close-popup {
                position: absolute;
                top: 30px;
                right: 30px;
                cursor: pointer;
            }
            .popup p {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
            .no-scroll {
            overflow-y: hidden;
            }
        </style>
        <script src="https://code.jquery.com/jquery-latest.js"></script>
        <script src="{% static 'js/course.js' %}"></script>

{% endblock content %}