{% extends 'layouts/base.html' %}

{% block content %}
{% load static %}
        <div class="site-section ftco-subscribe site-blocks-cover pb-4" style="background-image: url({% static 'images/bg_1.jpg' %})">
             <div class="container">
                  <div class="row align-items-end">
                      <div class="col-lg-7">
                          <h2 class="mb-0" style="color: CadetBlue">{{ page_title }}</h2>
                          <p style="color: darkcyan">Тут знаходиться те, на чому ми спеціалізуємося</p>
                      </div>
                  </div>
             </div>
        </div>
        <div id="breadcrumb" class="custom-breadcrumns border-bottom">
            <div class="container">
                <a href="/">Головна</a>
                <span class="mx-3 icon-keyboard_arrow_right"></span>
                <span class="current">Каталог Курсів</span>
            </div>
        </div>
        <!-- ASIDE -->
        <div id="aside" class="col-md-3 text-auto">
            <!-- aside Widget - Categories -->
            <div class="aside">
                <h2 class="aside-title">Категорії</h2>
                <div class="checkbox-filter">
                    {% for c in all_categories %}
                        <div class="input-checkbox">
                            <input type="checkbox" id="{{ c.name }}">
                            <label for="{{ c.name }}"
                                style="font-size: 13pt; color: darkcyan; margin-left: 10px">
                                <span></span>
                                {{ c.name }}
                                <small>(0)</small>
                            </label>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- /aside Widget - Categories -->
        <!-- courses section -->
        <div class=section">
            <div class="container">
                <div>
                    <div class="site-section">
                        <div class="container">

                            <!-- courses_product -->
                            <div class="row">
                            {% for c in all_courses %}
                                <div class="col-lg-4 col-md-6 mb-4">
                                    <div class="course-1-item">
                                        <figure class="thumnail">
                                        <a href="course-single.html"><img src="/media/{{ c.photo }}" alt="Image" class="img-fluid"></a>
                                        <div class="price" style="color: yellow">{{ c.price }} грн/міс</div>
                                        <div class="category"><h3 style="color: yellow">{{ c.category }}</h3></div>
                                        </figure>
                                        <div class="course-1-content pb-4">
                                        <h2>{{ c.about }}</h2>
                                        <div class="rating text-center mb-3">
                                            <span class="icon-star2 text-warning"></span>
                                            <span class="icon-star2 text-warning"></span>
                                            <span class="icon-star2 text-warning"></span>
                                            <span class="icon-star2 text-warning"></span>
                                            <span class="icon-star2 text-warning"></span>
                                        </div>
                                        <p><a href="/courses/{{ c.url }}/" class="btn btn-primary rounded-0 px-4">Опис Курсу</a></p>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            </div>
                            <!-- /courses_product -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /courses section -->
{% endblock content %}